<h1>Add Employee Name and department</h1>
<form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
    <div formArrayName="employees">
    <div *ngFor="let employee of employees.controls; let i = index" [formGroupName]="i" class="employee-form-group">
        <div class="form-group">
        <label>EmployeeName</label>
        <input type="text" class="form-control" placeholder="Enter Employee Name" formControlName="employeeName"/>
        <div *ngIf="employees.at(i).get('employeeName')?.touched && employees.at(i).get('employeeName')?.invalid">
          <small style="color: red;" *ngIf="employees.at(i).get('employeeName')?.hasError('required')">employeeName is required.</small>
        </div>
        </div>
    <div class="form-group">
        <label>department</label>
        <select formControlName="department" class="form-control">
            <option value="">
                Select Department              
            </option >
            <option *ngFor="let dept of departmentList" [value]="dept">
                {{dept}}
            </option>         
        </select>
        <div *ngIf="employees.at(i).get('department')?.touched && employees.at(i).get('department')?.invalid">
          <small style="color: red;" *ngIf="employees.at(i).get('department')?.hasError('required')">Department is required.</small>
        </div>
    </div>
    <div class="form-group">
     <label>Upload Image</label>
     <input type="file" (change)="onFileUpload($event, i)" accept="image/*" class="form-control">
    </div>
        <button type="button" class="btn btn-danger remove-btn" (click)="removeEmployee(i)">Remove</button>
    </div>
</div>
<div class="form-actions">
    <button type="button" class="btn btn-primary" (click)="AddEmployee()">
        Add Employee
    </button>
    <button class="btn btn-success" type="submit">Submit</button>
  </div>
</form>

<!-- table -->

  <div *ngIf="submittedrecords.length > 0 && setviewastable" class="table-container">
    <h2>Submitted Records</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of submittedrecords">
          <td>{{ record.employeeName }}</td>
          <td>{{ record.department }}</td>
          <td>
            <img *ngIf="record.employeeImage" [src]="record.employeeImage" alt="Employee Image" class="employee-image"/>
          </td>
        </tr>
      </tbody>
    </table>
</div>

